body{
    font-family: arial;
}
/* separator (,) jd sekaligus di beri style (grouping */
h1, h2{
    color: green;
}
h2{
    font-style: italic;
}

/* 
pakai spasi untuk lebih spesifik 
css tolong pilihkan saya tag a yang ada didalam li dan ul */
ul li a {
    color: red;
}
ol li a{
    color: slateblue;
}
/* id= dipanggil pakai # */
#p1{
    color: red;
}
/* 
lebih baik pakai class untuk css
class dipanggil pakai . */
.p2{
    color: aqua;
}
.cetak-tebal{
    color: blue;
}
/* css carikan saya pargraf tp yg hanya pnya cetak-tebal */
.p.cetak-tebal{
    font-size: 30px;
}